@font-face {
  font-family: 'Next Art';
  src: url('./assets/fonts/NEXT ART_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Next Art';
  src: url('./assets/fonts/NEXT ART_Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Next Art';
  src: url('./assets/fonts/NEXT ART_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Next Art';
  src: url('./assets/fonts/NEXT ART_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Next Art';
  src: url('./assets/fonts/NEXT ART_SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}