@mixin center-element{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin white-text {
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito sans", sans-serif;
  color: var(--color-white-darker);
}